.footer {
    width: 100%;
    padding: 20px 0;
    background: var(--color-white);
}

.footer ul:last-child {
    gap: 32px;
}

.footer__social li {
    width: 42px;
    height: 42px;

    background: var(--secondary-color);
    border-radius: 100%;
}

.footer__social li img {
    width: 45%;
    height: 45%;

    object-fit: contain;
}